<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3932ddc3bec0d186608b300231323a1e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3932ddc3bec0d186608b300231323a1e" ></div>
        
</body>
<script>
    
    
            var map_3932ddc3bec0d186608b300231323a1e = L.map(
                "map_3932ddc3bec0d186608b300231323a1e",
                {
                    center: [-26.2041, 28.0473],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_943fbca503d3a6a7377b80d9bb1de5fb = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 2.5,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_943fbca503d3a6a7377b80d9bb1de5fb.addTo(map_3932ddc3bec0d186608b300231323a1e);
        
    
            var feature_group_4c31679ce98afcdc96d4e98cb9a7cdae = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_008fe91efba43d18b718bf5cbde062b1 = L.circleMarker(
                [-25.7459277, 28.1879101],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_4c31679ce98afcdc96d4e98cb9a7cdae);
        
    
        var popup_501bffafe07e34d9e094ca7f3a126878 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2a70784231ec1a005728dd5b915a6949 = $(`<div id="html_2a70784231ec1a005728dd5b915a6949" style="width: 100.0%; height: 100.0%;">pretoria</div>`)[0];
                popup_501bffafe07e34d9e094ca7f3a126878.setContent(html_2a70784231ec1a005728dd5b915a6949);
            
        

        circle_marker_008fe91efba43d18b718bf5cbde062b1.bindPopup(popup_501bffafe07e34d9e094ca7f3a126878)
        ;

        
    
    
            var circle_marker_0b6f4c050d4ee544c6f3f0c2c29a7886 = L.circleMarker(
                [-29.6039267, 28.3350193],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_4c31679ce98afcdc96d4e98cb9a7cdae);
        
    
        var popup_9449b215676e597cbe84eb5f1f96021f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc4870246f0b1873ee76c150cd8ac274 = $(`<div id="html_bc4870246f0b1873ee76c150cd8ac274" style="width: 100.0%; height: 100.0%;">lesotho</div>`)[0];
                popup_9449b215676e597cbe84eb5f1f96021f.setContent(html_bc4870246f0b1873ee76c150cd8ac274);
            
        

        circle_marker_0b6f4c050d4ee544c6f3f0c2c29a7886.bindPopup(popup_9449b215676e597cbe84eb5f1f96021f)
        ;

        
    
    
            var circle_marker_c013b216ee0b1a80c9d23cc243db54ea = L.circleMarker(
                [-33.934444, 18.869167],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_4c31679ce98afcdc96d4e98cb9a7cdae);
        
    
        var popup_1781a7515ab69ba5c5a2eeccd9f214d4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_49ca44d577714f8f4718e3213d23b491 = $(`<div id="html_49ca44d577714f8f4718e3213d23b491" style="width: 100.0%; height: 100.0%;">stellenbosch</div>`)[0];
                popup_1781a7515ab69ba5c5a2eeccd9f214d4.setContent(html_49ca44d577714f8f4718e3213d23b491);
            
        

        circle_marker_c013b216ee0b1a80c9d23cc243db54ea.bindPopup(popup_1781a7515ab69ba5c5a2eeccd9f214d4)
        ;

        
    
    
            feature_group_4c31679ce98afcdc96d4e98cb9a7cdae.addTo(map_3932ddc3bec0d186608b300231323a1e);
        
    
            tile_layer_943fbca503d3a6a7377b80d9bb1de5fb.addTo(map_3932ddc3bec0d186608b300231323a1e);
        
    
            feature_group_4c31679ce98afcdc96d4e98cb9a7cdae.addTo(map_3932ddc3bec0d186608b300231323a1e);
        
    
            var circle_marker_36573a12d664204b1b741b6148d320a5 = L.circleMarker(
                [-22.53356015, 17.045477525861745],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_4c31679ce98afcdc96d4e98cb9a7cdae);
        
    
        var popup_f22b3a8c8357488aa2c23f084874e0cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b795163a0b5fe83497cc99ddd7cdd0dd = $(`<div id="html_b795163a0b5fe83497cc99ddd7cdd0dd" style="width: 100.0%; height: 100.0%;">windhoek</div>`)[0];
                popup_f22b3a8c8357488aa2c23f084874e0cd.setContent(html_b795163a0b5fe83497cc99ddd7cdd0dd);
            
        

        circle_marker_36573a12d664204b1b741b6148d320a5.bindPopup(popup_f22b3a8c8357488aa2c23f084874e0cd)
        ;

        
    
</script>
</html>