<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c4aa9dc2a4b696cce804459d0b3c1065 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c4aa9dc2a4b696cce804459d0b3c1065" ></div>
        
</body>
<script>
    
    
            var map_c4aa9dc2a4b696cce804459d0b3c1065 = L.map(
                "map_c4aa9dc2a4b696cce804459d0b3c1065",
                {
                    center: [-26.2041, 28.0473],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f03c7a4ff295552691361c0aadb46b31 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 2.5,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f03c7a4ff295552691361c0aadb46b31.addTo(map_c4aa9dc2a4b696cce804459d0b3c1065);
        
    
            var feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2 = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_e722d807e251eac0779f1c9b9a5dffa5 = L.circleMarker(
                [-25.7459277, 28.1879101],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2);
        
    
        var popup_1376f7551792c67440d85a34b20d9ecf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_24fa3390109e1a9433b766a5add16bdd = $(`<div id="html_24fa3390109e1a9433b766a5add16bdd" style="width: 100.0%; height: 100.0%;">pretoria</div>`)[0];
                popup_1376f7551792c67440d85a34b20d9ecf.setContent(html_24fa3390109e1a9433b766a5add16bdd);
            
        

        circle_marker_e722d807e251eac0779f1c9b9a5dffa5.bindPopup(popup_1376f7551792c67440d85a34b20d9ecf)
        ;

        
    
    
            var circle_marker_7d0a919a18b36f60aa38982231888d6b = L.circleMarker(
                [-29.6039267, 28.3350193],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2);
        
    
        var popup_3cc13c31a84fffec62499f8e1fc1e128 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b2a7de0eccddb4699e87422687b7e5e3 = $(`<div id="html_b2a7de0eccddb4699e87422687b7e5e3" style="width: 100.0%; height: 100.0%;">lesotho</div>`)[0];
                popup_3cc13c31a84fffec62499f8e1fc1e128.setContent(html_b2a7de0eccddb4699e87422687b7e5e3);
            
        

        circle_marker_7d0a919a18b36f60aa38982231888d6b.bindPopup(popup_3cc13c31a84fffec62499f8e1fc1e128)
        ;

        
    
    
            var circle_marker_32133a3825d0c4e3141432355fa43dbc = L.circleMarker(
                [-33.934444, 18.869167],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2);
        
    
        var popup_0007500df1a5bdd679a66dff4093e34d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9cc10c7fb81cde869a347d7c281246c3 = $(`<div id="html_9cc10c7fb81cde869a347d7c281246c3" style="width: 100.0%; height: 100.0%;">stellenbosch</div>`)[0];
                popup_0007500df1a5bdd679a66dff4093e34d.setContent(html_9cc10c7fb81cde869a347d7c281246c3);
            
        

        circle_marker_32133a3825d0c4e3141432355fa43dbc.bindPopup(popup_0007500df1a5bdd679a66dff4093e34d)
        ;

        
    
    
            var circle_marker_79a17ce3e217bcfe0ad9fa2fd1f97f3f = L.circleMarker(
                [-22.53356015, 17.045477525861745],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2);
        
    
        var popup_4926198b1553013525fa1af5f3e6b7ee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_918810c18d090e2754519e289baacca0 = $(`<div id="html_918810c18d090e2754519e289baacca0" style="width: 100.0%; height: 100.0%;">windhoek</div>`)[0];
                popup_4926198b1553013525fa1af5f3e6b7ee.setContent(html_918810c18d090e2754519e289baacca0);
            
        

        circle_marker_79a17ce3e217bcfe0ad9fa2fd1f97f3f.bindPopup(popup_4926198b1553013525fa1af5f3e6b7ee)
        ;

        
    
    
            var circle_marker_5d264b6740b68e5343bdbf198ce0d9d9 = L.circleMarker(
                [49.6640647, 0.8826302],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2);
        
    
        var popup_f7face2bc2bf12f64f713f7ae174173b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f19d270efe44321a9b73aa1931fc08df = $(`<div id="html_f19d270efe44321a9b73aa1931fc08df" style="width: 100.0%; height: 100.0%;">asdf</div>`)[0];
                popup_f7face2bc2bf12f64f713f7ae174173b.setContent(html_f19d270efe44321a9b73aa1931fc08df);
            
        

        circle_marker_5d264b6740b68e5343bdbf198ce0d9d9.bindPopup(popup_f7face2bc2bf12f64f713f7ae174173b)
        ;

        
    
    
            feature_group_02f924c0ae4b32b10d21ba21ab4fc2a2.addTo(map_c4aa9dc2a4b696cce804459d0b3c1065);
        
</script>
</html>