<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a12766aae8cd4401afffb0da7fb61fd1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a12766aae8cd4401afffb0da7fb61fd1" ></div>
        
</body>
<script>    
    
            var map_a12766aae8cd4401afffb0da7fb61fd1 = L.map(
                "map_a12766aae8cd4401afffb0da7fb61fd1",
                {
                    center: [-26.2041, 28.0473],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3d237d4aa9524b37b7ba044507753650 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 2.5, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a12766aae8cd4401afffb0da7fb61fd1);
        
    
            var feature_group_8b84de382e7142adbcd55d02d8bbb8a4 = L.featureGroup(
                {}
            ).addTo(map_a12766aae8cd4401afffb0da7fb61fd1);
        
    
            var circle_marker_dfbf64602f3c4833bbce57b67a3335d4 = L.circleMarker(
                [48.85614465, 2.297820393322227],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_8b84de382e7142adbcd55d02d8bbb8a4);
        
    
        var popup_b7f6ae56d86840cea1743cf93921055e = L.popup({"maxWidth": "100%"});

        
            var html_a3cce14f52ce4f87a250aa3f8a2625c0 = $(`<div id="html_a3cce14f52ce4f87a250aa3f8a2625c0" style="width: 100.0%; height: 100.0%;">Champ de Mars Paris France</div>`)[0];
            popup_b7f6ae56d86840cea1743cf93921055e.setContent(html_a3cce14f52ce4f87a250aa3f8a2625c0);
        

        circle_marker_dfbf64602f3c4833bbce57b67a3335d4.bindPopup(popup_b7f6ae56d86840cea1743cf93921055e)
        ;

        
    
</script>